body{
    margin:0;
    background:#081b33;
    font-family:Arial,sans-serif;
    color:white;
}

.container{
    display:flex;
}

.sidebar{
    width:230px;
    background:#102b4d;
    height:100vh;
    padding:20px;
}

.sidebar h2{
    color:#19c4ff;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:20px 0;
}

.sidebar a{
    color:white;
    text-decoration:none;
}

.main{
    flex:1;
    padding:40px;
}

h1{
    color:#19c4ff;
}

textarea{
    width:100%;
    height:250px;
    margin-top:20px;
    padding:15px;
    font-size:16px;
    border-radius:10px;
    border:none;
    resize:none;
}

.buttons{
    margin-top:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-right:10px;
    color:white;
    font-size:15px;
}

#start-btn{
    background:#00bfff;
}

#stop-btn{
    background:#ff9800;
}

#clear-btn{
    background:#f44336;
}