{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartAI Studio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


<header>

    <nav class="navbar">

        <div class="logo">
            <i class="fa-solid fa-robot"></i>
            <span>SmartAI Studio</span>
        </div>

        <ul class="nav-links">

            <li><a href="#">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#tools">AI Tools</a></li>
            <li><a href="#about">About</a></li>

        </ul>

        <div class="nav-buttons">

            <a href="{% url 'login' %}" class="login-btn">
                Login
            </a>

            <a href="{% url 'register' %}" class="register-btn">
                Register
            </a>

        </div>

    </nav>

</header>


<section class="hero">

<div class="hero-left">

    <span class="tag">
        AI Powered Platform
    </span>

    <h1>

        One Platform

        <br>

        Multiple AI Tools

    </h1>

    <p>

        Generate content, convert text into speech,
        create AI images, summarize documents,
        build resumes and boost productivity
        using Artificial Intelligence.

    </p>

    <div class="hero-buttons">

        <a href="{% url 'register' %}" class="start-btn">

            Get Started

        </a>

        <a href="#tools" class="learn-btn">

            Explore Tools

        </a>

    </div>

</div>

    <div class="hero-right">

        <div class="glass-card">

        <i class="fa-solid fa-wand-magic-sparkles"></i>

        <h3>AI Assistant</h3>

        <p>

        Generate content in seconds.

       </p>

    </div>

    <div class="glass-card">

      <i class="fa-solid fa-volume-high"></i>

      <h3>Text To Speech</h3>

      <p>

       Convert text into voice instantly.

      </p>

    </div>

    <div class="glass-card">

     <i class="fa-solid fa-image"></i>

     <h3>Image Generator</h3>

     <p>

     Create beautiful AI images.

     </p>

    </div>

</div>

</section>


<section id="features" class="features">

  <h2>

  Amazing Features

 </h2>

 <div class="feature-container">

<div class="feature-card">

   <i class="fa-solid fa-bolt"></i>

   <h3>Fast</h3>

   <p>

   Lightning fast AI processing.

   </p>

</div>

<div class="feature-card">

<i class="fa-solid fa-lock"></i>

<h3>Secure</h3>

<p>

User authentication and encrypted data.

</p>

</div>

<div class="feature-card">

<i class="fa-solid fa-cloud"></i>

<h3>Cloud Based</h3>

<p>

Access from anywhere.

</p>

</div>

<div class="feature-card">

<i class="fa-solid fa-chart-simple"></i>

<h3>Dashboard</h3>

<p>

Beautiful analytics dashboard.

</p>

</div>

</div>

</section>

<!-- AI TOOLS -->

<section id="tools" class="tools">

<h2>

AI Tools

</h2>

<div class="tool-grid">

<div class="tool-card">

<i class="fa-solid fa-pen-nib"></i>

<h3>Text Generator</h3>

<p>Create blogs, emails and articles.</p>

</div>

<div class="tool-card">

<i class="fa-solid fa-volume-high"></i>

<h3>Text To Speech</h3>

<p>Convert text into realistic voice.</p>

</div>

<div class="tool-card">

<i class="fa-solid fa-microphone"></i>

<h3>Speech To Text</h3>

<p>Voice transcription instantly.</p>

</div>

<div class="tool-card">

<i class="fa-solid fa-image"></i>

<h3>Image Generator</h3>

<p>Create AI generated images.</p>

</div>

<div class="tool-card">

<i class="fa-solid fa-file-lines"></i>

<h3>Resume Builder</h3>

<p>Create professional resumes.</p>

</div>

<div class="tool-card">

<i class="fa-solid fa-book-open"></i>

<h3>Text Summarizer</h3>

<p>Summarize long documents.</p>

</div>

</div>

</section>

<!-- ABOUT -->

<section id="about" class="about">

<div class="about-box">

<h2>

About SmartAI Studio

</h2>

<p>

SmartAI Studio is an AI-powered productivity platform
designed to help users create content,
generate speech,
summarize documents,
and improve workflow through Artificial Intelligence.

</p>

</div>

</section>

<!-- CTA -->

<section class="cta">

<h2>

Start Using AI Today

</h2>

<p>

Boost your productivity with powerful AI tools.

</p>

<a href="{% url 'register' %}">
    Create Free Account
</a>


</section>

<!-- FOOTER -->

<footer>

<div class="footer-logo">

<i class="fa-solid fa-robot"></i>

SmartAI Studio

</div>

<p>

© 2026 SmartAI Studio

All Rights Reserved. <br>

  Created with ❤️ by <strong>Shrutika Bartakke</strong>

</p>

<div class="social-icons">

<i class="fab fa-linkedin"></i>

<i class="fab fa-github"></i>

<i class="fab fa-instagram"></i>

</div>

</footer>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>