{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | SmartAI Studio</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <div class="background-circle one"></div>
    <div class="background-circle two"></div>

    <div class="login-container">


        <div class="left-side">

            <h1>Welcome Back 👋</h1>

            <p>
                Login to access all AI tools and manage your projects from one dashboard.
            </p>

            <ul>

                <li><i class="fa-solid fa-check"></i> AI Text Generator</li>

                <li><i class="fa-solid fa-check"></i> Text To Speech</li>

                <li><i class="fa-solid fa-check"></i> Speech To Text</li>

                <li><i class="fa-solid fa-check"></i> AI Image Generator</li>

                <li><i class="fa-solid fa-check"></i> Resume Builder</li>

            </ul>

        </div>

        <!-- Login Card -->

        <div class="login-card">

            <div class="logo">

                <i class="fa-solid fa-robot"></i>

                <h2>SmartAI Studio</h2>

            </div>
             {% if messages %}
             {% for message in messages %}
                <div class="alert">
                      {{ message }}
                </div>
                {% endfor %}
                {% endif %}

            <form method="POST" id="loginForm">
            {% csrf_token %}
            
                <div class="input-box">

                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter Email"
                        required>
                </div>

                <div class="input-box password-box">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter Password"
                        required>

                    <span id="togglePassword">

                        <i class="fa-solid fa-eye"></i>

                    </span>

                </div>

                <div class="remember">

                    <label>

                        <input type="checkbox">

                        Remember Me

                    </label>

                    <a href="#">Forgot Password?</a>

                </div>

                <button type="submit" class="login-btn">

                    Login

                </button>

                <div class="divider">

                    <span>OR</span>

                </div>

                <a href="{% provider_login_url 'google' %}" class="google-btn">

                     <i class="fa-brands fa-google"></i>

                        Continue with Google

                </a>

                <p class="register-text">

                    Don't have an account?

                    <a href="{% url 'register' %}">Register Here </a>

                </p>

            </form>

        </div>

    </div>

    <script src="{% static 'js/login.js' %}"></script>

</body>

</html>